@tailwind base;
@tailwind components;
@tailwind utilities;

.state-effects {
  @apply transition hover:scale-105 focus:scale-105 active:scale-[1.02];
}

/* SCROLLBAR STYLING */
/* Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0f1015;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Edge 118, Firefox 64, Chrome 118 */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.1) #0f1015;
}
